<div class="jumbotron">
  <h1 class="text-center">Galeria de Fotos</h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="input-group">
          <span class="input-group-btn">
            <a [routerLink]="['cadastro']" class="btn btn-primary">
              Nova Foto
            </a>
          </span>
          <input #filterText (keyup)="0" class="form-control" placeholder="Filtrar pelo título da foto">
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <panel *ngFor="let photo of photos | titleFilter: filterText.value" [title]="photo.titulo" class="col-md-2">
      <photo [url]="photo.url" [title]="photo.titulo"></photo>
    </panel>
  </div>
</div>